<form action="?P=e" method="post">
	<p><button type="submit">実行する</button></p>
</form>
<form action="?P={{back}}" method="post">
	<p><button type="submit">戻る</button></p>
</form>
<form action="?P={{cancel}}" method="post">
	<p><button type="submit">キャンセル</button></p>
</form>
